.link-page {
  text-decoration: none;
  color: #000;
}

.link-text span {
  font-family: "Kodchasan", sans-serif !important;
}

.link-button:hover .link-page {
  background-color: #d23369;
  color: #fff;
}

.link-button:hover {
  background-color: #d23369 !important;
  color: #fff;
}

.user {
  color: #000;
}
