.link-page {
  text-decoration: none;
  color: #000;
}

.link-text {
  font-family: "Kodchasan", sans-serif !important;
}

.link-button:hover .link-page {
  background-color: #ffbaba;
  color: #fff;
}

.link-button {
  font-family: "Kodchasan", sans-serif;
}

.link-button:hover {
  background-color: #ffbaba;
  color: #fff;
}
